html, body, #__nuxt, #__layout, .app-container {
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #1f2123;
  color: #b7afaf;
  -webkit-font-smoothing: antialiased;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
 }


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p {
  margin: 0px 0px 15px;
}
